.filters{
  &__item{
    &-enter {
      opacity: 0;
    } 
    &-enter-active {
        opacity: 1;
        transition: opacity 250ms ease-in;
    }
    &-exit {
        opacity: 1;
        transition: opacity 250ms ease-in;
    }
    &-exit-active {
        opacity: 0;
    }
  }
}

.btn-group{
  width: 100%;
}